[submodule "splitwise-frontend"]
	path = splitwise-frontend
	url = https://github.com/Carlosmcms/splitwise-frontend.git
[submodule "splitwise-backend"]
	path = splitwise-backend
	url = https://github.com/Carlosmcms/splitwise-backend.git
